.slide img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	object-position: center;
}

.slide.active {
	display: block;
}

.slide {
	display: none;
}

.carosello {
	position: relative;
}

.carosello .carosello__arrow {
	position: absolute;
	font-size: 40px;
	color: white;
	top: 50%;
	transform: translateY(-50%);
}

.carosello .carosello__arrow.arrow-left {
	left: 20px;
}

.carosello .carosello__arrow.arrow-right {
	right: 20px;
}

#title , #sub_title{
	color: white;
}
.info{
	bottom: 0;
	left: 50%;
	transform: translate(-50% ,-50%  );
	background-color: black ;
	opacity: 0.7;
	border-radius: 20px;
}

.sale{
	color: red;
	font-size: 30px;
	left: 40px;
	top: 20px;
	background-color: blue;
	border-radius: 999px;
	
}